*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}
header{
    height: 270px;
   background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 101;
}

nav {
    position: relative;
    width: 95%;
    height: 70px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 0px;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

nav span {
    position: absolute;
    top: 0;
    left: 27px;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    transition: left 0.2s ease, width 0.2s ease;
    z-index: 0;
    pointer-events: none;
}
header h1{
    font-size: 80px;
}
header h3{
    font-size: 40px;
}
main{
    height: 100vh;
    width: 100vw;
}

/* Chat Icon Styles */
.chat-icon {
    width: 60px;
    height: 60px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 101;
}

.chat-icon img {
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
}

.chat-container {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
    position: fixed;
    bottom: 140px; /* Position above the icon */
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hidden {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
}

.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.chat-header {
    background-image: url(aibox.webp);
    background-size: cover;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-size: 1.4em;
}

.chat-box {
    padding: 15px;
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chat-message {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.chat-message.user {
    text-align: right;
    padding: 10px;
    background-color: blue;
    color: white;
}

.chat-message.bot {
    text-align: left;
    padding: 10px;
    background-color: green;
    color: white;
}

.chat-input-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
#question-select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

#send-btn {
    padding: 12px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}
#send-btn:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.cointainer{
    height: 81vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cointainer div{
    padding: 20px;
    margin: auto;
    background-color: aliceblue;
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
}
.cointainer h4{
    font-size: 2rem;
    margin: auto;
    margin-bottom: 5px;
}
img{
    height:25vh;
    width: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.chat-box{
    background-image: url(floral.jpg);
    background-size: cover;
}

/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
    
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #d8ff00;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
.des{
    font-size: 30px;
}
main{
    height: 100vh;
}

.quote-container {
    z-index: 0;
   background-color: black;
    background-size: cover;
    overflow: hidden;
    height: 80px; /* Ensures the text is visible */
    position: relative;
    width: 100%;
}

#quote {
    color: #fff;
    font-size: 3em;
    position: absolute;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    padding-bottom: 0;
    height: 80px;
    color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(100%); /* Start from extreme right */
    }
    100% {
        transform: translateX(-100%); /* Move to extreme left */
    }
}
.author{
    font-family: sans-serif;
    font-size: 20px;
}